/ p Your email address is user for authentication in QNA app with Vkontakte.
/ p If it was not you, please make sure your account has a strong password.

/ = url_for edit_email_confirmation_url(user: { email_confirmation_token: @user.email_confirmation_token, email: @user.email }),
/    target: '_blank'